In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

In [2]:
# Import the API key
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-01-27 19:59:20,-23.1203,-134.9692,79.23,77,17,14.34
1,1,Thunder Bay,CA,2021-01-27 19:55:47,48.4001,-89.3168,5.00,60,20,9.22
2,2,Malindi,KE,2021-01-27 19:59:21,-3.2175,40.1191,77.22,86,0,13.22
3,3,La Paz,BO,2021-01-27 19:55:07,-16.5000,-68.1500,62.60,27,40,9.22
4,4,Coihaique,CL,2021-01-27 19:59:21,-45.5752,-72.0662,55.40,54,75,10.36

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# create heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating =False, max_intensity=300, point_radius =4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# create heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating =False, max_intensity=300, point_radius =4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) &\
                                      (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-01-27 19:59:20,-23.1203,-134.9692,79.23,77,17,14.34
2,2,Malindi,KE,2021-01-27 19:59:21,-3.2175,40.1191,77.22,86,0,13.22
6,6,Saint-Pierre,RE,2021-01-27 19:59:22,-21.3393,55.4781,78.80,69,0,4.61
7,7,Lazaro Cardenas,MX,2021-01-27 19:59:22,17.9583,-102.2000,81.55,64,33,8.23
16,16,Hithadhoo,MV,2021-01-27 19:58:40,-0.6000,73.0833,81.03,80,72,15.41
20,20,Diego De Almagro,CL,2021-01-27 19:59:25,-26.3667,-70.0500,85.57,17,4,15.39
21,21,Puerto Ayora,EC,2021-01-27 19:59:25,-0.7393,-90.3518,84.20,70,40,18.41
23,23,Avarua,CK,2021-01-27 19:58:54,-21.2078,-159.7750,86.00,70,20,18.41
27,27,Papagaios,BR,2021-01-27 19:59:26,-19.4492,-44.7478,79.45,60,24,6.26
30,30,The Valley,AI,2021-01-27 19:59:27,18.2170,-63.0578,82.40,65,20,16.11

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0            Rikitea      PF     79.23 -23.1203 -134.9692
2            Malindi      KE     77.22  -3.2175   40.1191
6       Saint-Pierre      RE     78.80 -21.3393   55.4781
7    Lazaro Cardenas      MX     81.55  17.9583 -102.2000
16         Hithadhoo      MV     81.03  -0.6000   73.0833
20  Diego De Almagro      CL     85.57 -26.3667  -70.0500
21      Puerto Ayora      EC     84.20  -0.7393  -90.3518
23            Avarua      CK     86.00 -21.2078 -159.7750
27         Papagaios      BR     79.45 -19.4492  -44.7478
30        The Valley      AI     82.40  18.2170  -63.0578

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,79.23,-23.1203,-134.9692,Pension Maro'i
2,Malindi,KE,77.22,-3.2175,40.1191,African House Resort
6,Saint-Pierre,RE,78.80,-21.3393,55.4781,Lindsey Hôtel
7,Lazaro Cardenas,MX,81.55,17.9583,-102.2000,Collection O Hotel Quinta Antigua
16,Hithadhoo,MV,81.03,-0.6000,73.0833,Scoop Guest House
20,Diego De Almagro,CL,85.57,-26.3667,-70.0500,hotel luna del desierto
21,Puerto Ayora,EC,84.20,-0.7393,-90.3518,Castillo Galapagos
23,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
27,Papagaios,BR,79.45,-19.4492,-44.7478,Hotel Mac Palace
30,The Valley,AI,82.40,18.2170,-63.0578,CeBlue Villas & Beach Resort

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))